<h1>Hello, sign in your account</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <td>User name:</td>
    <td><%= text_field("user", "name") %></td>
  </tr>  　　　　　　　　　　
  <tr>
    <td>Password:</td>
    <td><%= password_field("user", "password") %></td>
  </tr>
  　　 　　　　　　　　　　
  <tr>
    <td><input type="submit" value=" LOGIN " /></td>
  </tr>
</table>



